body{
  background-color: rgb(234, 0, 255);
  color: black;
}

.searchForm{
  display: flex;
  align-items:center ;
  justify-content: center;
  text-align: center;
  height: 60px;
}

.searchInput{
  border-radius: 5px;
  padding: 5px 40px;
  background-color: hsl(230, 33%, 90%);
  border: 0px;
  margin-right:5px;
  color: rgb(0, 0, 0);
}

.submitButton{
  border-radius: 5px;
  padding: 5px 40px;
  background-color: crimson;
  border: 0px;
}

.resultBefore{
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  margin: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}